@model EcomercerWebsite_Fruit.DataTransferObject.TotalCartDTO
<li class="side-menu">
    <a asp-action="Index" asp-controller="Cart">
        <i class="fa fa-shopping-bag"></i>
        <span class="badge">@Model.Amount</span>
        <p>My Cart</p>
    </a>
</li>
